{{ define "main" }}


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>  

<script>



function track(){
    var ord = '';
    var pro = '';
    trackids=document.getElementById("trackid").value
    $.ajax({
    url: 'http://eratest.site:85/api/ECom/GetOrdersDetail?EOrderID=' + trackids,
    type: 'GET',
    dataType: 'json',
    success: function(response){
      thead = ''
      var datas = JSON.parse(response).Table;
        // console.log(datas[0].Status)
      
        ord += '<tr>';
                ord += '<td>'+trackids+'</td>';
  
                ord += '<td>' + datas[0].Status + '</td>';
                    ord += '<td>' + moment(datas[0].CreatedAt).format('DD-MM-YYYY') + '</td>';
                    ord += '<td><label><input type="checkbox" id="viewdetails" onchange="valueChanged()"> View details</label></td>';
                               
                              
                                $('#tabrownode tr').remove(); 
                              $('#tabrownode').append(thead,ord);
  
        var productdatas = JSON.parse(response).Table1;
        console.log(productdatas[0])
        var len = 0;
        if(productdatas != null){
          len = productdatas.length;
        }
        else(
            alert(productdatas.id)
        )
        if(len > 0){
          pro += '<tr>';
            pro += '<th>Name</th>';
            pro += '<th>Price</th>';
            pro += '<th>Quantity</th>';
            pro += '<th>Total amount</th>';
          for(var i=0; i<len; i++){
            pro += '<tr>';
              pro += '<td>'+productdatas[i].Name+'</td>';
  
              pro += '<td>Rs: ' + productdatas[i].price + '</td>';
              pro += '<td>' + productdatas[i].quantity + '</td>';
              pro += '<td>Rs:' + productdatas[i].price*productdatas[i].quantity + '</td>';
                               
                              
                                $('#hidetable tr').remove(); 
                              $('#hidetable').append(thead,pro);
  
            
            // var name = response['track'][i];
            // console.log(name);
            
            // document.getElementById("abc").innerHTML = name;
           
          }
        }

      }
 });
}

</script>
<script type="text/javascript">
  function valueChanged()
  {
      if($('#viewdetails').is(":checked"))   
          $("#hidetable").show();
      else
          $("#hidetable").hide();
  }
</script>
<div class="container">

    <div class="row">
        <div class="col-lg-3 col-sm-6 mb-3">
              
            
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
           
                
                    <input type="text" class="form-control" id="trackid" aria-describedby="helpId" placeholder="Enter order id">
           
            
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
            <button class="btn btn-sm btn-outline-primary" onclick="track()">track</button>
             
            
        </div>
    </div>

    <div class="table-responsive">
        <table class="table" id="producttrack">
          <thead>
            <tr>
              <th>Order id</th>
              <th>Status</th>
              <th>Created_at</th>
              <th>Control</th>
            </tr>
          </thead>
            <tbody id="tabrownode">
            </tbody>
            <tbody id="hidetable" style="display: none;">
            
            </tbody>
        </table>
        </div>
</div>



{{ end }}